In [6]:
# Exercise 1
print('남기철')
print('봉명동')
print('01044691218')

남기철
봉명동
01044691218

In [10]:
# Exercise 2
print('사과 개수 입력 : ')
apple = int(input())
print('바구니 개수 입력 : ')
bascket = int(input())
result = apple//bascket
if apple%bascket:
  result += 1
print(result)

123
10
13

In [11]:
# Exercise 3
print('첫번째 정수 입력 : ')
i = int(input())
print('두번째 정수 입력 : ')
j = int(input())
print(i+j)
print(i-j)
print(i*j)
print(i//j)

36
12
48
24
432
12

In [17]:
# Exercise 4
print('당신의 수학 점수를 입력하세요.')
math_score = int(input())
print('당신의 영어 점수를 입력하세요.')
english_score = int(input())
print('당신의 평균점수는 ' + str((math_score + english_score)/2))

당신의 수학 점수를 입력하세요.
92
당신의 영어 점수를 입력하세요.
45
당신의 평균점수는 68.5

In [37]:
# Exercise 5
num = int(input())
result = num//100 * 100
print(result)

10
0

In [22]:
# Exercise 6
num = input()
result = 0
for i in num:
  result += int(i)

print(result)

9145
19

In [43]:
# Exercise 7
print('문자열을 입력하세요 : ', end=' ')

x = input()
print('문자의 개수: ' + str(len(x)))
print('자료형: '+ str(type(x)))

문자열을 입력하세요 :  asdf
문자의 개수: 4
자료형: <class 'str'>

In [38]:
# Exercise 8
result = 0
for i in range(1, 101):
  if i%3 == 2:
    result += i
print(result)

1650

In [42]:
# Exercise 9
print('화씨를 입력하시오', end=' ')
f = int(input())
print('섭씨 값은: ', (f-32)*5.0/9.0)

화씨를 입력하시오 100
섭씨 값은:  37.77777777777778

In [51]:
# Exercise 10
import random
x = random.randint(0, 31)
while True:
  print('0~30 사이의 숫자를 입력하세요.', end=' ')
  num = int(input())
  if num == x:
    print('맞혔어요!')
    break
  elif num > x:
    print('그보다 더 작아요!')
  else:
    print('그보다 더 커요!')

0~30 사이의 숫자를 입력하세요. 15
그보다 더 작아요!
0~30 사이의 숫자를 입력하세요. 7
그보다 더 커요!
0~30 사이의 숫자를 입력하세요. 10
그보다 더 커요!
0~30 사이의 숫자를 입력하세요. 13
그보다 더 작아요!
0~30 사이의 숫자를 입력하세요. 12
그보다 더 작아요!
0~30 사이의 숫자를 입력하세요. 11
맞혔어요!

In [63]:
# Exercise 11
def add(a, b):
  return a+b
def sub(a, b):
  return a-b
def Mul(a, b):
  return a*b
def Div(a, b):
  return a/b

while True:
  print('Select menu\n0. add\n1. Sub\n2. Mul\n3. Div\n4. Quit\nSelect menu:', end='')
  menu = int(input())
  if menu == 4:
    print('Bye bye~ :)')
    break
  else:
    print('First operand:', end='')
    a = int(input())
    print('Second operand:', end='')
    b = int(input())
    if menu == 0:
      result = add(a, b)
      print('Result = ', result)
    if menu == 1:
      result = sub(a, b)
      print('Result = ', sub(a, b))
    if menu == 2:
      result = Mul(a, b)
      print('Result = ', result)
    if menu == 3:
      result = Div(a, b)
      print('Result = ', Div(a, b))
    print()

Select menu
0. add
1. Sub
2. Mul
3. Div
4. Quit
Select menu:3
First operand:3
Second operand:10
Result =  0.3

Select menu
0. add
1. Sub
2. Mul
3. Div
4. Quit
Select menu:4
Bye bye~ :)

In [70]:
# Exercise 12
class Account():
  def __init__(self, account, name, balance):
    self.accountNo = account
    self.name = name
    self.balance = balance

  def showBalance(self):
    print(self.name, '님 잔고는 ', self.balance, '입니다')
    return

  def deposit(self, amount):
    self.balance += amount
    return
  def withdraw(self, amount):
    self.balance -= amount

a = Account('1111', '유재석', 10000)
b = Account('2222', '박명수', 20000)

a.showBalance()
a.deposit(20000)
a.showBalance()
a.withdraw(20000)
a.showBalance()
b.showBalance()
b.deposit(20000)
b.showBalance()

유재석 님 잔고는  10000 입니다
유재석 님 잔고는  30000 입니다
유재석 님 잔고는  10000 입니다
박명수 님 잔고는  20000 입니다
박명수 님 잔고는  40000 입니다