In [2]:
a = 1

In [3]:
a = 2

In [4]:
print(a)

2

In [5]:
a = [1,2,3]
a.sort()

ModuleNotFoundError: No module named 'Decimal'

In [31]:
c = 232
'''
여기다 쓰면 되지롱
'''
c

232

In [23]:
from decimal import *


a = 0.3
b = 0.1*3

In [24]:
a == b

False

In [25]:
c = Decimal(0.1) * 3

In [26]:
a == c

False

In [27]:
c

Decimal('0.3000000000000000166533453694')

In [28]:

a = Decimal(0.3)

In [29]:
b = Decimal(0.1) * Decimal(3)

In [30]:
a == b

False

In [37]:
str1 = 'hello'
str2 = ' There'
bob = str1 + str2
print(bob)

hello There

In [38]:
str3 = '123'
str3 = str3 + 1

TypeError: can only concatenate str (not "int") to str

In [39]:
str3

'123'

In [40]:
int(str3)

123

In [41]:
int(str3)+1

124

In [42]:
x = input("name:")

name:Nam

In [43]:
x

'Nam'

In [44]:
apple_num = input('please input apple num_')

please input apple num_100

In [45]:
apple_num

'100'

In [46]:
int(apple_num) - 10

90

In [47]:
len(x)

3

In [50]:
def length(x):
    y = 0
    for i in x:
        y += 1
    return y

length('banana')

6

In [51]:
fruit = 'banana'
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(index, letter)
    index = index +1

0 b
1 a
2 n
3 a
4 n
5 a

In [54]:
fruit = 'banana'
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [55]:
fruits = ['banana', 'apple', 'mango']
fruits

['banana', 'apple', 'mango']

In [57]:
for x in fruits:
    print(x)

banana
apple
mango

In [59]:
word = 'banana'
count = 0
for i in word:
    if i == 'a':
        count += 1
print(count)

3

In [62]:
s = 'Monty Python'
s

'Monty Python'

In [63]:
s[0:4]

'Mont'

In [64]:
s[::]

'Monty Python'

In [67]:
s[:3]

'Mon'

In [68]:
s[3:]

'ty Python'

In [69]:
t = 'monty python \n 하이 \t 안녕'
print(t)

monty python
 하이 	 안녕

In [70]:
t = 'monty python \''
print(t)

monty python '

In [71]:
t = 'monty'' python '
print(t)

monty python

In [72]:
t = 'monty \'python is good \''

In [73]:
print(t)

monty 'python is good '

In [74]:
print('\\j')

\j

In [79]:
'a' < 'b'
# 아스키 코드 값으로 따짐
'가' < '나'
'나' < '가'

False

In [80]:
a = 'abc'
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [87]:
x = '1t12tx'
x.replace('1','z')

'ztz2tx'

In [90]:
y = 'name is jeongcheolLee'
yy = y.split(' ')

In [91]:
print(yy)

['name', 'is', 'jeongcheolLee']

In [92]:
yy = y.split()

In [93]:
yy

['name', 'is', 'jeongcheolLee']

In [97]:
yyy = list(y)

In [98]:
# upper(), lower()
# 하나로 통일하려고

In [99]:
email = 'netzzang12@gmail.com'
email

'netzzang12@gmail.com'

In [101]:
email.find('@')

10

In [102]:
email.index('@')

10

In [109]:
a = email.split('@')
a

['netzzang12', 'gmail.com']

In [127]:
email = 'netzzang12@cnu.ac.kr'
email.lower().split('.')

['netzzang12@cnu', 'ac', 'kr']

In [130]:
'ac' in email.lower().split('.')

True